.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
public/css/style-responsive.css
public/css/style.css
public/css/table-responsive.css
public/css/to-do.css
public/css/zabuto_calendar.css
public/img/404.png
public/img/500.png
public/img/apple-touch-icon.png
public/img/blog-bg.jpg
public/img/checkbox-gray.png
public/img/favicon.png
public/img/instagram.jpg
public/img/login-bg.jpg
public/img/lorde.jpg
public/img/mask.png
public/img/ny.jpg
public/img/product.jpg
public/img/profile-01.jpg
public/img/profile-02.jpg
public/img/radio-gray.png
public/img/ui-danro.jpg
public/img/ui-divya.jpg
public/img/ui-sam.jpg
public/img/ui-sherman.jpg
public/img/ui-zac.jpg
public/img/weather.jpg
public/img/zoom.png
public/img/friends/fr-01.jpg
public/img/friends/fr-02.jpg
public/img/friends/fr-03.jpg
public/img/friends/fr-04.jpg
public/img/friends/fr-05.jpg
public/img/friends/fr-06.jpg
public/img/friends/fr-07.jpg
public/img/friends/fr-08.jpg
public/img/friends/fr-09.jpg
public/img/friends/fr-10.jpg
public/img/friends/fr-11.jpg
public/img/portfolio/port01.jpg
public/img/portfolio/port02.jpg
public/img/portfolio/port03.jpg
public/img/portfolio/port04.jpg
public/img/portfolio/port05.jpg
public/img/portfolio/port06.jpg
public/lib/advanced-form-components.js
public/lib/bootstrap-switch.js
public/lib/calendar-conf-events.js
public/lib/chartjs-conf.js
public/lib/common-scripts.js
public/lib/easy-pie-chart.js
public/lib/flotchart-conf.js
public/lib/form-component.js
public/lib/form-validation-script.js
public/lib/gritter-conf.js
public/lib/jquery-ui-1.9.2.custom.min.js
public/lib/jquery.backstretch.min.js
public/lib/jquery.dcjqaccordion.2.7.js
public/lib/jquery.nicescroll.js
public/lib/jquery.scrollTo.min.js
public/lib/jquery.sparkline.js
public/lib/jquery.tagsinput.js
public/lib/jquery.ui.touch-punch.min.js
public/lib/morris-conf.js
public/lib/sparkline-chart.js
public/lib/tasks.js
public/lib/zabuto_calendar.js
public/lib/advanced-datatable/css/demo_page.css
public/lib/advanced-datatable/css/demo_table_jui.css
public/lib/advanced-datatable/css/demo_table.css
public/lib/advanced-datatable/css/DT_bootstrap.css
public/lib/advanced-datatable/css/jquery.dataTables_themeroller.css
public/lib/advanced-datatable/css/jquery.dataTables.css
public/lib/advanced-datatable/images/back_disabled.png
public/lib/advanced-datatable/images/back_enabled_hover.png
public/lib/advanced-datatable/images/back_enabled.png
public/lib/advanced-datatable/images/details_close.png
public/lib/advanced-datatable/images/details_open.png
public/lib/advanced-datatable/images/forward_disabled.png
public/lib/advanced-datatable/images/forward_enabled_hover.png
public/lib/advanced-datatable/images/forward_enabled.png
public/lib/advanced-datatable/images/sort_asc_disabled.png
public/lib/advanced-datatable/images/sort_asc.png
public/lib/advanced-datatable/images/sort_both.png
public/lib/advanced-datatable/images/sort_desc_disabled.png
public/lib/advanced-datatable/images/sort_desc.png
public/lib/advanced-datatable/images/Sorting icons.psd
public/lib/advanced-datatable/js/DT_bootstrap.js
public/lib/advanced-datatable/js/jquery.dataTables.js
public/lib/advanced-datatable/js/jquery.dataTables.min.js
public/lib/advanced-datatable/js/jquery.js
public/lib/bootstrap/js/bootstrap.js
public/lib/bootstrap/js/bootstrap.min.js
public/lib/bootstrap-datepicker/css/datepicker.css
public/lib/bootstrap-datepicker/js/bootstrap-datepicker.js
public/lib/bootstrap-daterangepicker/date.js
public/lib/bootstrap-daterangepicker/daterangepicker-bs3.css
public/lib/bootstrap-daterangepicker/daterangepicker.css
public/lib/bootstrap-daterangepicker/daterangepicker.js
public/lib/bootstrap-daterangepicker/moment.min.js
public/lib/bootstrap-datetimepicker/css/datetimepicker.css
public/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js
public/lib/bootstrap-fileupload/bootstrap-fileupload.css
public/lib/bootstrap-fileupload/bootstrap-fileupload.js
public/lib/bootstrap-inputmask/bootstrap-inputmask.min.js
public/lib/bootstrap-timepicker/compiled/timepicker.css
public/lib/bootstrap-timepicker/js/bootstrap-timepicker.js
public/lib/chart-master/Chart.js
public/lib/ckeditor/ckeditor.js
public/lib/dropzone/dropzone.js
public/lib/dropzone/css/dropzone.css
public/lib/dropzone/images/spritemap.png
public/lib/dropzone/images/spritemap@2x.png
public/lib/fancybox/jquery.fancybox.css
public/lib/fancybox/jquery.fancybox.js
public/lib/file-uploader/css/jquery.fileupload-noscript.css
public/lib/file-uploader/css/jquery.fileupload-ui-noscript.css
public/lib/file-uploader/css/jquery.fileupload-ui.css
public/lib/file-uploader/css/jquery.fileupload.css
public/lib/file-uploader/img/loading.gif
public/lib/file-uploader/img/progressbar.gif
public/lib/file-uploader/js/jquery.fileupload-audio.js
public/lib/file-uploader/js/jquery.fileupload-image.js
public/lib/file-uploader/js/jquery.fileupload-process.js
public/lib/file-uploader/js/jquery.fileupload-ui.js
public/lib/file-uploader/js/jquery.fileupload-validate.js
public/lib/file-uploader/js/jquery.fileupload-video.js
public/lib/file-uploader/js/jquery.fileupload.js
public/lib/file-uploader/js/jquery.iframe-transport.js
public/lib/file-uploader/js/main.js
public/lib/file-uploader/js/cors/jquery.xdr-transport.js
public/lib/file-uploader/js/vendor/jquery.ui.widget.js
public/lib/flot/jquery.flot.crosshair.js
public/lib/flot/jquery.flot.js
public/lib/flot/jquery.flot.pie.js
public/lib/flot/jquery.flot.resize.js
public/lib/flot/jquery.flot.stack.js
public/lib/font-awesome/css/font-awesome.css
public/lib/font-awesome/css/font-awesome.min.css
public/lib/font-awesome/fonts/fontawesome-webfont.eot
public/lib/font-awesome/fonts/fontawesome-webfont.svg
public/lib/font-awesome/fonts/fontawesome-webfont.ttf
public/lib/font-awesome/fonts/fontawesome-webfont.woff
public/lib/font-awesome/fonts/fontawesome-webfont.woff2
public/lib/font-awesome/fonts/FontAwesome.otf
public/lib/fullcalendar/bootstrap-fullcalendar.css
public/lib/fullcalendar/fullcalendar.min.js
public/lib/google-maps/maplace.js
public/lib/google-maps/data/points.js
public/lib/gritter/css/jquery.gritter.css
public/lib/gritter/css/jquery.gritter0.css
public/lib/gritter/images/gritter-light.png
public/lib/gritter/images/gritter-long.png
public/lib/gritter/images/gritter.png
public/lib/gritter/images/ie-spacer.gif
public/lib/gritter/js/jquery.gritter.js
public/lib/jquery/jquery.js
public/lib/jquery/jquery.min.js
public/lib/jquery-easy-pie-chart/jquery.easy-pie-chart.css
public/lib/jquery-easy-pie-chart/jquery.easy-pie-chart.js
public/lib/morris/morris.min.js
public/lib/php-mail-form/validate.js
public/lib/raphael/raphael.min.js
public/lib/xchart/d3.v3.min.js
public/lib/xchart/xcharts.css
public/lib/xchart/xcharts.min.js
